@code {
    [Parameter]
    public Vehicle Vehicle { get; set; } = null!;

    [Parameter]
    public EventCallback<Vehicle> OnClick { get; set; }

    [Parameter] 
    public bool Selected { get; set; }
}

<div class=@("vehicle-card"+ (Selected?" selected":"")) onclick="@(async ()=> await OnClick.InvokeAsync(Vehicle))">
    <img src="@Vehicle.Image" alt="@Vehicle.Name" class="vehicle-image" />
    <div class="vehicle-name" >
        @Vehicle.Name
    </div>
</div>

